body {

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/14/54/snow-1853352_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.8;
}

header {
    background-color: #b8f0f0;
    padding: 15px 0;
    text-align: center;
    box-shadow: 3px 4px 8px rgba(3, 86, 107, 0.842);
}




#navbar ul {
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    transition-duration: 2s ease-in-out;
    transition: color 0.3s ease-out;
}

#navbar li {
    margin: 0 15px;
}

#navbar a {
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
}

#navbar a:hover {
    color: #1672bd;
}

#navbar:hover {
    transform: translateY(6px);
    transition-duration: 0.5s;
}


.abc {
    color: rgb(255, 255, 255);
    width: 100%;
    max-width: 420px;
    margin: 50px auto;
    padding: 25px;
    background-color: #4f538d;
    border-radius: 10px;
    box-shadow: 4px 8px 15px rgba(0, 255, 234, 0.911);
    border: 1px solid #07d2da;
    transition-duration: 2s ease-in-out;
}

.abc:hover {
    transform: translateY(-6px);
    transition-duration: 0.5s;
}



label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #4caf9e;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #3010e2;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #ffffff;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: #0e0bb9;
    letter-spacing: 2px;
    opacity: 0.8;
    transition-duration: 2s ease-in-out;
}

footer:hover {
    transform: translateY(-3px);
    transition-duration: 1s;
    opacity: 1;
}
